[Unit]
Description=Etrans app
After=network-online.target
ConditionPathExists=/home/etrans/etrans/app_start

[Service]
User=etrans
Type=forking
WorkingDirectory=/home/etrans
ExecStartPre=/usr/bin/[ -f /tmp/syncOK ]
ExecStart=/home/etrans/etrans/app_start
ExecStop=/usr/local/bin/send2port 41000 stop_all
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target

