[Unit]
Description=EtransShield check service
After=sysinit.target
Requires=sysinit.target
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/shieldcheck
StandardOutput=journal

[Install]
WantedBy=basic.target
