[Unit]
Description=Configure wifi in AP mode with specific name
After=sysinit.target
Conflicts=shutdown.target

[Service]
User=etrans
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/conf/configureAP 
StandardOutput=journal

[Install]
WantedBy=basic.target

